.aside-left{
    background-image: url('../../../assets/imgs/aside.jpg');
    background-position: left;
    background-repeat: no-repeat;
    position: fixed;
    width: 45%;
    height: 100%;
}
.aside-container{
    background-color: rgba(0, 0, 0, 0.37);
    height: 100%;
}